<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link th:href="@{/css/formStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap}" rel="stylesheet">
</head>
<body>
    <div class="formContainer">
        <form action="#" method="post" th:action="@{/register}">
            <h1>Sign up</h1>

            <div class="text-input">
                <label for="username">Username<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${user.username}">Username error</label>
                <input id="username" type="text" th:field="${user.username}" placeholder="Username" required=""/>
            </div>

            <div class="text-input">
                <label for="password">Password<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${user.password}">Password error</label>
                <input id="password" type="password" th:field="${user.password}" placeholder="*********" required=""/>
            </div>

            <div class="text-input">
                <label for="firstName">First name<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${passenger.firstName}">First name error</label>
                <input id="firstName" type="text" th:field="${passenger.firstName}" placeholder="First name" required=""/>
            </div>

            <div class="text-input">
                <label for="secondName">Second name</label>
                <br>
                <label class="error-message" th:errors="${passenger.secondName}">Second name error</label>
                <input id="secondName" type="text" th:field="${passenger.secondName}" placeholder="Second name"/>
            </div>

            <div class="text-input">
                <label for="lastName">Last name<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${passenger.lastName}">Last name error</label>
                <input id="lastName" type="text" th:field="${passenger.lastName}" placeholder="Last name" required=""/>
            </div>

            <div class="text-input">
                <label for="birthDate">Birth date<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${passenger.birthDate}">BirthDate error</label>
                <input id="birthDate" type="date" th:field="${passenger.birthDate}" required=""/>
            </div>

            <div class="text-input">
                <label for="email">Email<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${contact.email}">Email error</label>
                <input id="email" type="text" th:field="${contact.email}" placeholder="example@abc.com" required=""/>
            </div>

            <div class="text-input">
                <label for="phoneNumber">Phone number<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${contact.phoneNumber}">Address error</label>
                <input id="phoneNumber" type="number" th:field="${contact.phoneNumber}" placeholder="111 222 333" required=""/>
            </div>

            <div class="text-input">
                <label for="address">Address<span class="red-dot">*</span></label>
                <br>
                <label class="error-message" th:errors="${contact.address}">Address error</label>
                <input id="address" type="text" th:field="${contact.address}" placeholder="Address" required=""/>
            </div>

            <div class="text-input">
                <button class="form-button" type="submit">Register</button>
            </div>
        </form>
    </div>
</body>
</html>