<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link th:href="@{/css/formStyle.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap}" rel="stylesheet">
</head>
<body>
<div class="formContainer">
    <form action="#" method="post" th:action="@{/register}">
        <h2>Registration to SkyFly</h2>
        <div id="top">
            <p>
                <label for="username">Username<span class="red-dot">*</span></label>
                <p th:errors="${user.username}">Username error</p>
                <input id="username" type="text" th:field="${user.username}" placeholder="Username" required=""/>
            </p>
            <p>
                <label for="password">Password<span class="red-dot">*</span></label>
                <p th:errors="${user.password}">Password error</p>
                <input id="password" type="password" th:field="${user.password}" placeholder="Password" required=""/>
            </p>
        </div>
        <div id="mid">
            <p>
                <label for="firstName">First name<span class="red-dot">*</span></label>
                <input id="firstName" type="text" th:field="${passenger.firstName}" placeholder="First name" required=""/>
            </p>
            <p>
                <label for="secondName">Second name</label>
                <input id="secondName" type="text" th:field="${passenger.secondName}" placeholder="Second name"/>
            </p>
            <p>
                <label for="lastName">Last Name<span class="red-dot">*</span></label>
                <input id="lastName" type="text" th:field="${passenger.lastName}" placeholder="Last name" required=""/>
            </p>
            <p>
                <label for="birthDate">Date of birth<span class="red-dot">*</span></label>
                <input id="birthDate" type="date" th:value="${passenger.birthDate}" th:field="${passenger.birthDate}" required=""/>
            </p>
            <p>
                <label for="identityCardNumber">Identity card number<span class="red-dot">*</span></label>
                <input id="identityCardNumber" type="text" th:field="${passenger.identityCardNumber}" placeholder="XYZ1234567890" required=""/>
            </p>
            <p>
                <label for="email">Email<span class="red-dot">*</span></label>
                <input id="email" type="email" th:field="${contact.email}" placeholder="example@website.com" required=""/>
            </p>
            <p>
                <label for="phone">Phone<span class="red-dot">*</span></label>
                <input id="phone" type="number" th:field="${contact.phoneNumber}" placeholder="123456789" required=""/>
            </p>
            <p>
                <label for="address">Address<span class="red-dot">*</span></label>
                <input id="address" type="text" th:field="${contact.address}" placeholder="Address" required=""/>
            </p>
            <p>
                <small class="red-dot">*required</small>
            </p>
        </div>
        <button class="form-button" type="submit">Register</button>
    </form>
</div>
</body>
</html>