<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>SkyFly</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap}"
          rel="stylesheet">
</head>
<body>
<div>
    <div class="menuBar">
        <div class="logoMenuDiv">
            <a class="logoMenu" th:href="@{/}">SkyFly</a>
        </div>
        <div class="menuButtonsDiv">
            <a id="registerButton" class="menuButtons" th:href="@{/register}">Sign up</a>
            <a id="loginButton" class="menuButtons" th:href="@{/login}">Sign in</a>
        </div>
    </div>
    <div class="index-content">
        <div class="motto">
            <h1>FLY WITH US<br>CHEAP & SAFE</h1>
        </div>
        <div class="searchFlightForm">
            <form method="post" th:action="@{/searchFlights}">
                <h2>Search flights</h2>
                <div>
                    <div class="searchFrom">
                        <label>
                            FROM
                            <label th:errors="${searchFlightRequest.departureCity}">Error</label>
                            <select class="selectCity" th:field="${searchFlightRequest.departureCity}">
                                <option hidden value=" "> Departure city</option>
                                <optgroup th:each="cities : ${allCitiesWithCountry}" th:label="${cities.key}">
                                    <option th:each="city : ${cities.value}" th:value="${city}"
                                            th:text="${city}"></option>
                                </optgroup>
                            </select>
                        </label>
                    </div>
                    <div class="searchTo">
                        <label>
                            TO
                            <label th:errors="${searchFlightRequest.arrivalCity}">Error</label>
                            <select class="selectCity" th:field="${searchFlightRequest.arrivalCity}">
                                <option hidden value=" "> Departure city</option>
                                <optgroup th:each="cities : ${allCitiesWithCountry}" th:label="${cities.key}">
                                    <option th:each="city : ${cities.value}" th:value="${city}"
                                            th:text="${city}"></option>
                                </optgroup>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="searchOneWayFlight">
                    <label>
                    <label th:errors="${searchFlightRequest.inOneWay}">Error</label>
                    <input id="oneWayCheckbox" class="checkmark" type="checkbox" th:field="${searchFlightRequest.inOneWay}" checked="checked"
                           onclick=" const input = document.getElementById('arrivalDateInput');
                           if (this.checked){input.disabled = true; input.required = false}else{input.disabled = false; input.required = true}">
                        ONE-WAY FLIGHT?
                    </label>
                </div>
                <div class="searchConnectingFlights">
                    <label>
                    <label th:errors="${searchFlightRequest.connectingFlight}">Error</label>
                    <input class="checkmark" type="checkbox" th:field="${searchFlightRequest.connectingFlight}">
                        CONNECTING FLIGHT?
                    </label>
                </div>
                <div class="searchPassengersNumber">
                    <label>
                        NUMBER OF PASSENGER
                        <label th:errors="${searchFlightRequest.numberOfPassenger}">Error</label>
                        <input class="searchPassengersNumberInput" type="number" th:field="${searchFlightRequest.numberOfPassenger}" min="1" max="5" value="1"
                               required="">
                    </label>
                </div>
                <div class="searchDepartureDate">
                    <label>
                        DEPARTURE DATE
                    <label th:errors="${searchFlightRequest.departureDate}">Error</label>
                    <input class="searchDateInput" type="date" th:field="${searchFlightRequest.departureDate}" required="">
                    </label>
                </div>
                <div class="searchArrivalDate">
                    <label>
                        ARRIVAL DATE
                        <label th:errors="${searchFlightRequest.arrivalDate}">Error</label>
                        <input id="arrivalDateInput" class="searchDateInput" type="date" th:field="${searchFlightRequest.arrivalDate}" disabled>
                    </label>
                </div>
                <div class="searchButtonDiv">
                    <button class="searchButton" type="submit">SEARCH</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>