<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SkyFly</title>
    <link href="/css/homestyle.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="menu">
        <div id="logo"><span id="sky">Sky</span>Fly</div>
    </div>
    <div style="clear: both"></div>
    <div id="container">
        <a href="#" th:href="@{/register}">Register</a>
        <br/>
        <a href="#" th:href="@{/secret}">secretTMP</a>
    </div>
</body>
</html>