<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SkyFly</title>
    <link href="/css/homestyle.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<div id="wrapper">
    <div id="nav">
        <div id="logoDiv">
            <a id="logo" th:href="@{/}">SkyFly</a>
        </div>
        <div id="buttonsDiv">
            <a id="registerButton" class="userButtons" th:href="@{/register}">Sign up</a>
            <a id="loginButton" class="userButtons" th:href="@{/login}">Log in</a>
            <a href="#">cos1</a>
            <a href="#">dupa123</a>
            <a href="#">o lol</a>
        </div>
    </div>
    <div id="content">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus aliquet risus non sapien euismod tempor.
            Fusce ex tortor, facilisis nec libero euismod, lacinia ullamcorper metus. Nulla at nunc ac orci pellentesque
            lacinia. Cras pretium malesuada urna quis auctor. Donec viverra sodales tellus, eget tristique nulla
            vestibulum eget. Fusce elementum consequat nulla sed venenatis. Praesent in orci convallis, posuere libero
            eu, fermentum massa. Integer vestibulum mi nibh, at dapibus purus vestibulum a. Suspendisse potenti. Nullam
            ac augue sit amet turpis dapibus feugiat.
        </p>
        <p>
            Morbi egestas sapien a magna euismod porta. Vestibulum volutpat pulvinar justo, id pharetra mauris dictum
            non. Nam condimentum fringilla dolor, vel luctus diam sodales vel. Suspendisse faucibus orci mauris, sit
            amet pulvinar massa tristique ut. Nulla facilisi. Quisque hendrerit, diam congue efficitur ultrices, tellus
            dui rhoncus eros, a faucibus ligula massa feugiat ante. Donec aliquet, mauris sed consequat aliquam, mi arcu
            fringilla lorem, a ornare mi ex id odio.
        </p>
        <p>
            Proin ultrices felis eu dictum tincidunt. Fusce nec dolor id dui pharetra ullamcorper. Pellentesque dictum
            vulputate enim et convallis. Ut convallis gravida commodo. Fusce id risus quam. Vivamus semper hendrerit ex,
            vel finibus quam consectetur in. Aenean venenatis lacus a turpis consequat, sit amet fermentum libero
            gravida. Fusce vulputate egestas congue. Nam interdum faucibus magna vitae convallis. Ut neque nisi,
            venenatis sit amet metus eu, sodales rhoncus sapien. Proin ultricies ex a mi scelerisque ornare.
            Pellentesque lacus magna, blandit eget orci vitae, feugiat mollis massa. Sed ut urna tincidunt, mattis nisi
            id, auctor ex. Etiam porta leo at erat scelerisque, ac pretium augue convallis.
        </p>
        <p>
            Integer a aliquam lectus. Quisque gravida magna ac aliquam molestie. Sed at ornare nibh. In nunc libero,
            convallis vel aliquet ut, pharetra non purus. Cras a dapibus dui. Vivamus pulvinar feugiat arcu, id rhoncus
            quam rutrum sed. Suspendisse leo erat, accumsan sit amet ullamcorper in, commodo sed arcu. Nunc dapibus,
            turpis et aliquam mollis, purus velit tempus purus, vel vehicula est ex ut velit. Duis dignissim odio quis
            eros feugiat, ut dapibus eros feugiat. Ut ut sem sit amet nunc ultricies convallis non sit amet magna.
            Integer consectetur, dolor rutrum facilisis porta, magna urna suscipit diam, sit amet viverra lorem elit
            quis diam. Ut ultricies turpis ut tellus sagittis sollicitudin. Donec consequat finibus hendrerit. Sed eu ex
            ac nisi gravida venenatis. Nunc arcu erat, viverra sed libero vitae, cursus sollicitudin velit. Donec quis
            purus ex.
        </p>
        <p>
            Cras ac magna nisi. Sed sollicitudin ullamcorper placerat. Praesent vitae tristique odio. Donec id quam vel
            enim efficitur laoreet semper non velit. Integer vehicula lacus ac purus finibus eleifend. Quisque vitae
            lacus vitae velit hendrerit pretium. Sed suscipit leo vitae ex feugiat fringilla. Mauris semper eget purus
            vel porttitor. Nullam pretium in mi non aliquam. Nullam maximus justo nec sapien tincidunt vulputate. Duis a
            nisi ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer at sapien nec enim
            convallis accumsan quis iaculis mi. Praesent tellus justo, consectetur nec justo vulputate, semper
            scelerisque lectus. Aliquam erat volutpat.
        </p>
        <p>
            Donec sit amet est magna. Quisque sem tellus, egestas nec sem et, scelerisque varius nisl. Sed ut nibh at
            est faucibus lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. Cras auctor leo sit amet
            velit fermentum ultricies. Vivamus sagittis ultrices malesuada. Fusce aliquet venenatis lobortis. Nam sed
            porta libero. In venenatis pharetra quam id sodales. Cras fringilla dignissim nunc, eu finibus lorem
            hendrerit sed. Proin sed leo non enim tempus sollicitudin. In ullamcorper pharetra nisl, sit amet varius
            purus pellentesque non. Nunc a leo nec erat facilisis tincidunt et quis erat.
        </p>
        <p>
            Ut feugiat iaculis eros, et pellentesque tortor suscipit auctor. Sed eget eros dui. Pellentesque habitant
            morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean faucibus ornare nulla, in
            lacinia tortor eleifend a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
            mus. Quisque vestibulum elit augue, et tincidunt elit vestibulum eget. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Mauris dignissim arcu non justo congue, non pellentesque purus malesuada.
            Vestibulum euismod egestas posuere. Morbi volutpat diam at accumsan dapibus. In leo magna, fringilla quis
            quam sit amet, volutpat condimentum orci. Donec ut arcu nisl. Duis suscipit neque vel justo eleifend cursus.
            Fusce odio orci, posuere eu mollis fermentum, tincidunt ac nisi. Sed volutpat lacinia malesuada.
        </p>
        <p>
            Quisque convallis mollis laoreet. Morbi sed tempus est. Etiam eget cursus sapien. Maecenas eleifend blandit
            nulla ut ornare. Nulla in felis mi. Aenean quis elit sit amet purus laoreet lobortis. Donec accumsan euismod
            efficitur. Fusce porttitor tortor et accumsan rutrum. Aliquam ullamcorper scelerisque scelerisque. Interdum
            et malesuada fames ac ante ipsum primis in faucibus. Donec malesuada diam in lectus volutpat, at lobortis
            nibh porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sagittis, lectus id
            faucibus tempus, enim est viverra velit, a volutpat orci quam ut mauris. Pellentesque ut ante ante. Duis
            ultricies in ipsum sit amet laoreet.
        </p>
    </div>
</div>
</body>
</html>