<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Summary</title>
    <link href="/css/style.css" rel="stylesheet"/>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap}"
          rel="stylesheet">
</head>
<body>
    <div class="summary-content">
        <div class="summary-title-div">
            <h1>Summary</h1>
        </div>
        <div class="summary-table-main" th:each="response : ${flightSummaryResponses}">
            <div class="summary-table-left">
                <span th:text="'Flight #' + ${response.getFlightId()}"></span>
                <br>
                <span th:text="${response.getFrom()}"></span>
                <br>
                <span th:text="${response.getTo()}"></span>
                <br>
                <span th:text="${response.getDepartureTime()}"></span>
            </div>
            <div class="summary-table-right">
                <span th:text="${response.getNumberOfAdults()} + ' Adults'"></span>
                <br>
                <span th:text="${response.getNumberOfTeenagers()} + ' Teenagers'"></span>
                <br>
                <span th:text="${response.getNumberOfChildren()} + ' Children'"></span>
                <br>
                <span th:text="${response.getNumberOfSmallChildren()} + ' Small children'"></span>
            </div>
            <div class="summary-table-bottom">
                <span th:text="'TOTAL: ' + ${response.getSum()} + '$'" class="red-string"></span>
            </div>
        </div>
        <div class="buttons-div">
            <a class="cancelButton" >Cancel</a>
            <a class="buyButton" th:href="@{buyTickets}">Buy</a>
        </div>
    </div>
</body>
</html>